body{
    color: white;
    background-color: rgb(0, 0, 0);
}

header{
    display: flex;
    margin-left: 25px;
}

.logo img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.img{
    width: 50px;
}

.nav{
    width: 100px;
    margin-left: 350px;
}

.nav, ul{
    list-style-type: none;
    display: flex;
}

.nav, li{
    color: yellow;
}

 a{
    text-decoration: none;
    margin: 25px;
    background-color: rgba(0, 0, 255, 0.083);
    width: 200px;
    height: 200%;
}

 a:hover{
    background-color: rgba(255, 0, 0, 0.636);
    color: white;
    width: 200%;
    height: 200%;
}

blockquote{
    font-weight: bold;
    font-size: 50px;
}

p{
    color: white;
}

header{
    background-color: gold;
    width: 95%;
}

main{
    background-color: rgb(255, 217, 0);
    height: 200%;
    width:100%;
    color: black;
}

aside{
    background-color: gold;
}

section{
    background-color: gold;
}

article{
    background-color: gold;
}

footer{
    background-color: gold;
}